.navcontainer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.main {
    composes: navcontainer;
    background-color: #E2DCCD;
}

.secondary {
    composes: navcontainer;
    background-color: #F1EFEC;
}

.navitem {
    font-size: 1.2em;
    line-height: 40px;
    flex: 1;
    margin-bottom: 0;
}

.tags {
    composes: navitem;
    font-size: 1.1em;
    padding: 10px 0;
    line-height: normal;
    align-self: center;
    text-align: center;
}

@media(max-width: 1024px) {
    .tags {
        font-size: 0.9em;
    }
}

.navlink {
    text-decoration: none;
    display: flex;
    transition: .3s background-color;
    padding: 10px 0;
    justify-content: center;
    overflow-x: hidden;
}

.navlink:hover {
    background-color: aqua;
}

.navlink:active {
    background-color: blue;
}